*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background: #f5f8ff;
    font-family: sans-serif;
}

.title{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.title::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background-color: orange;
}

.social-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 15px;
    grid-gap: 20px;
}

.social-box{
    background: var(--clr);
    color: #fff;
    border-radius: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-box i{
    font-size: 50px;
    margin-bottom: 10px;
}

.social-box p{
    font-size: 25px;
    font-weight: 600;
}



/* Responsive */
@media screen and (max-width: 768px) {
    .social-container{
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 85%;
        overflow-x: auto;
        /* grid-template-rows: repeat(2, 1fr); */
        /* Make smoothly scroll and touch */
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
    }

    .social-box{
        scroll-snap-align: center;
    }

    /* Remove scrollbar */
    .social-container{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .social-container::-webkit-scrollbar{
        display: none;
    }
}